---
import { supabase } from "../lib/supabase";

const { data: gastos, error } =
  await supabase
    .from("gastos")
    .select("*");
---

<h1>Prueba de gastos</h1>

{error && (
  <p>Error: {error.message}</p>
)}

<ul>
  {gastos?.map((gasto) => (
    <li>
      {gasto.descripcion} - 
      S/{gasto.monto}
    </li>
  ))}
</ul>